extends ../includes/layout

block content
    div
        .contenedor.editar
            .div_formulario
                form(action="#" onsubmit="ValidarIngreso()")
                    label(for="txt_editar_tema") Tema:
                    p: input#txt_editar_tema(type="text", name="txt_editar_tema")

                    label(for="txt_editar_fecha_tema") Fecha de Ingreso:
                    p: input#txt_editar_fecha_tema(type="text", name="txt_editar_fecha_tema" disabled)

                    button#regresar: a(href="temas.html") Regresar
                    button#guardar(type="submit") Guardar

    script(src="../assets/js/admin/editar_temas.js")