extends includes/layout

block content
    .div_ventana
        .div_ventana__titulo
            p #{title}
        .div_encabezado
            h2 Agregar nuevo autor
        .div_formulario
            form(action="#" onsubmit="Validar_Autor()")
                label(for="txt_nombre_autor") Nombre*:
                p: input#txt_nombre_autor(type="text", name="txt_nombre_autor" onkeypress="return ValidarEntradaLetras(event)")

                label(for="txt_apellido_autor") Apellido*:
                p: input#txt_apellido_autor(type="text", name="txt_apellido_autor" onkeypress="return ValidarEntradaLetras(event)")

                p Nacionalidad*
                    select#slc_autor_pais(name="slc_autor_pais")
                        option(value="0") Selecciona un pais

                p Genero*
                    input(type="radio", name="genero" value="1" id="rad_autor_masculino")
                    label(for="rad_autor_masculino") Masculino #[br]
                    input(type="radio", name="genero" value="0" id="rad_autor_femenino")
                    label(for="rad_autor_femenino") Femenino

                label(for="txt_autor_fecha_nacimiento") Fecha de Nacimiento*:
                p: input#txt_autor_fecha_nacimiento(type="text", name="txt_autor_fecha_nacimiento" onkeypress="return ValidarEntradaFecha(event)")

                label(for="txt_autor_fecha_fallecimiento") Fecha de Fallecimiento:
                p: input#txt_autor_fecha_fallecimiento(type="text", name="txt_autor_fecha_fallecimiento" onkeypress="return ValidarEntradaFecha(event)")

                label(for="txt_ingreso_fecha_autor") Fecha de Ingreso:
                p: input#txt_ingreso_fecha_autor(type="text", name="txt_ingreso_fecha_autor" disabled)
        
                button#btn_ingreso_autor_regresar: a(href="autores.html") Regresar
                button#btn_ingreso_autor_aceptar(type="submit") Aceptar
    
    script(src="assets/js/nuevo_autor.js")