extends ../includes/layout

block content
    div
        .nuevo_tema
            button#agregar_tema: a(href="nuevo_tema.html") Agregar
            p Cuantos elementos desea mostrar?
            input#txt_showRows(type="number")
            button#btn_show Mostrar
            p.alert
        .contenedor.tabla
            table#temas
        .contenedor.nav
            button#anterior.ocultar Anterior
            P Del #[span.inicio] al #[span.final] de #[span.total]
            //-input#mostrar(type="number", name="mostrar")
            button#siguiente Siguiente

        .contenedor
            table#tabla2

    script(src="../assets/js/admin/admin_temas.js")
    //-script(src="../assets/js/admin/admin_temas2.js")