.div_tos
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic amet nesciunt dolorum blanditiis cumque porro eaque quas quaerat atque, vero accusantium odio enim facere, ipsa, odit cum molestiae iusto tempore.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque laborum asperiores nostrum iure pariatur consequatur optio. Eligendi et aut ex error at quasi? Praesentium nobis ea odit voluptatem aspernatur.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quo, repellendus, ullam molestiae praesentium delectus laudantium consequatur illo voluptatum corrupti harum numquam soluta odit cumque voluptate adipisci, id iusto voluptas?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt magnam sapiente vel adipisci necessitatibus vero, doloremque officiis expedita accusamus sit voluptas, ab asperiores saepe recusandae quis repudiandae totam exercitationem? Distinctio!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolores facere tempora impedit iure pariatur. Debitis, dolor. Animi dicta facere id nesciunt obcaecati quae officiis voluptate eaque iste? Necessitatibus, obcaecati!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis quisquam culpa optio ad earum ea quis quos est necessitatibus, adipisci ex repellendus, impedit facilis autem quas porro iure beatae. Dolorum.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, sequi! Ducimus deleniti quis consequatur aliquam doloribus, maiores fugiat atque maxime amet dolorum ab error voluptate! Iure alias molestias ullam nulla!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ipsa vel facilis saepe sint unde temporibus quas dolor consectetur omnis, amet debitis! Pariatur, sequi facere impedit fugit culpa veritatis eos?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis voluptatum libero amet blanditiis commodi animi ea, asperiores est dicta dignissimos autem repellat tempore quo eligendi hic vitae aliquam eos aliquid!

                h2: a(href="/") Regresar