p Buscar por
    select#slc_buscar(name="slc_buscar")
        option(value="1") Nombre
        option(value="2") Autor
        option(value="3") Tema
        option(value="4") Ubicación
    input#txt_buscar(name="txt_buscar" type="text")