.container
    .container--small
        h2.pagina Seccion
    .container--small
        ul
            li: a(href="./libros.html") Libros
            li: a(href="./autores.html") Autores
            li: a(href="./temas.html") Temas
            li: a(href='./prestamos.html') Prestamos
            li: a(href="./perfil.html") Perfil
            li: button#salir Salir