.contenedor.nav
    p Cuantos elementos desea mostrar?
    input#txt_showRows(type="number")
    button#btn_show Mostrar
    p.alert
    button#btn_anterior.ocultar Anterior
    p Del #[span.inicio] al #[span.final] de #[span.total]
    button#btn_siguiente Siguiente