<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Autores
        link(rel="stylesheet", href="assets/css/style.css")
    body
        include includes/menu
        .contenedor.info
            h3 Listado general de autores
            include includes/buscador
        .contenedor.tabla
        .contenedor
            include includes/nav-tab

        include includes/scripts.pug
        script(src="assets/js/user_autores.js")