extends includes/layout

block content
    .div_ventana
        .div_ventana__titulo
            p #{title}
        .div_encabezado
            h2 Nuevo Usuario
            p: a(href="#") Ya tienes cuenta? Inicie sesion aqui
        .div_formulario
            .div_formulario--izquierda
                label(for="txt_nombres") Nombre(s) #[br]
                p: input#txt_nombres(type="text" placeholder="Ingrese nombre(s)")
                
                label(for="txt_apellidos") Apellido(s) #[br]
                p: input#txt_apellidos(type="text" placeholder="Ingrese apellido(s)")
                
                label(for="#txt_direccion") Direccion #[br]
                p: input#txt_direccion(type="text" placeholder="Ingrese dirección")
                
                label(for="tel_telefono") Teléfono #[br]
                p: input#tel_telefono(type="tel" placeholder="Ingrese número de teléfono")
                
                label(for="mail_correo") Correo #[br]
                p: input#mail_correo(type="email" placeholder="Ingrese correo electrónico")
                
                label(for="pwd_contrasenia") Contraseña #[br]
                p: input#pass_contrasenia(type="password" placeholder="Ingrese contraseña")
                
                label(for="pwd_contrasenia2") Confirme su contraseña #[br]
                p: input#pass_contrasenia2(type="password" placeholder="Confirme contraseña")
                
                p Genero
                input(type="radio", name="genero" value="1" id="rad_masculino")
                label(for="rad_masculino") Masculino #[br]
                input(type="radio", name="genero" value="0" id="rad_femenino")
                label(for="rad_femenino") Femenino
            
            .div_formulario--derecha
                label(for="txt_nac") Fecha de nacimiento #[br]
                p: input#txt_nac(type="text", name="txt_nac")

                p CUI
                p: input#txt_cui(type="text" placeholder="Ingrese CUI")
                
                p Departamento
                select#depto(name="depto")
                    option(value="no") Selecciona un departamento
                
                select#mncipio(name="mncipio")
                    option(value="no") Selecciona un municipio
                
                p Tus padres, tutores y/o protutores tienen conocimiento del uso y autorización la navegación y utilización de los servicios
                input#rad_auth(type="radio", name="rad_auth" value='1')
                label(for="rad_auth") Sí
                
                p#tos: a(href="http://#") Terminos y condiciones de uso
                input#accept(type="checkbox", name="accept" value="accept")
                label(for="accept") Acepto los terminos y condiciones

                button#btn_enviar(type="submit") Enviar
            .div_tos
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic amet nesciunt dolorum blanditiis cumque porro eaque quas quaerat atque, vero accusantium odio enim facere, ipsa, odit cum molestiae iusto tempore.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque laborum asperiores nostrum iure pariatur consequatur optio. Eligendi et aut ex error at quasi? Praesentium nobis ea odit voluptatem aspernatur.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quo, repellendus, ullam molestiae praesentium delectus laudantium consequatur illo voluptatum corrupti harum numquam soluta odit cumque voluptate adipisci, id iusto voluptas?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt magnam sapiente vel adipisci necessitatibus vero, doloremque officiis expedita accusamus sit voluptas, ab asperiores saepe recusandae quis repudiandae totam exercitationem? Distinctio!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolores facere tempora impedit iure pariatur. Debitis, dolor. Animi dicta facere id nesciunt obcaecati quae officiis voluptate eaque iste? Necessitatibus, obcaecati!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis quisquam culpa optio ad earum ea quis quos est necessitatibus, adipisci ex repellendus, impedit facilis autem quas porro iure beatae. Dolorum.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, sequi! Ducimus deleniti quis consequatur aliquam doloribus, maiores fugiat atque maxime amet dolorum ab error voluptate! Iure alias molestias ullam nulla!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ipsa vel facilis saepe sint unde temporibus quas dolor consectetur omnis, amet debitis! Pariatur, sequi facere impedit fugit culpa veritatis eos?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis voluptatum libero amet blanditiis commodi animi ea, asperiores est dicta dignissimos autem repellat tempore quo eligendi hic vitae aliquam eos aliquid!