<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Login
        link(rel="stylesheet", href="assets/css/style.css")
    body
        .container.login
            h2.title Inicio de sesión
        .login__form
            //-form(action="#" onsubmit="ValidarLogin()")
            p Ingrese Correo electrónico
            input#txt_user_email(type="text")
            p Ingrese su Contraseña
            p: input#txt_user_pass(type="text")
            p: a(href="registro.html") Nuevo usuario? Registrate aquí
            button#btn_iniciar Iniciar

script(src="assets/js/user_login.js")
script(src="assets/js/validaciones.js")