<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Libros
        link(rel="stylesheet", href="../assets/css/style.css")
    body
        include includes/menu
        .contenedor.info
            h3 Listado general de libros
            include includes/buscador
        .contenedor.tabla
        .contenedor.nav
            p Cuantos elementos desea mostrar?
            input#txt_showRows(type="number")
            button#btn_show Mostrar
            p.alert
            button#btn_anterior.ocultar Anterior
            p Del #[span.inicio] al #[span.final] de #[span.total]
            button#btn_siguiente Siguiente
        include includes/scripts
        script(src="../assets/js/user_libros.js")
        // Contiene el script para realizar busquedas
        script(src="../assets/js/srch.js")