<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Prestamos
        link(rel="stylesheet", href="assets/css/style.css")
    body
        include includes/menu
        .contenedor
            h3 Mis prestamos
            .tabla-prestamos
        
        .contenedor
            h3 Historial
            .buscador
                h4 Buscar por
                select#buscador(name="buscador")
                    option(value="1") Nombre
                    option(value="2") Tema
                    option(value="3") Ubicacón
                    option(value="")
                    option(value="")
            .tabla-historial
        include includes/nav-tab
        include includes/scripts
        script(src="assets/js/user_prestamos.js")