div
    .contenedor.tabla
    .contenedor.editar
        .div_formulario
            label(for="txt_ingreso_tema") Tema:
            p: input#txt_ingreso_tema(type="text", name="txt_ingreso_tema")

            label(for="txt_ingreso_fecha_tema") Fecha de Ingreso:
            p: input#txt_ingreso_fecha_tema(type="text", name="txt_ingreso_fecha_tema")

script(src="assets/js/temas.js")